

body {
  background-color: #545ca9;
  color:white;
}

.header1 {
  color: #830D3B;
}

.grid-item {
  color: #830D3B;
}


p {
  color: #DBDBD5;
}

li {
  color: #C7B33A;
}

html {
  font-family: "Josefin Sans";
}

/* style the page using a grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  background-color: #8c1010;
  padding: 10px;
  height: 500px;
  align-content: space-between;
}
.grid-item {
  background-color: #545ca9;
  border: 1px solid rgba(131, 49, 30, 0.8);
  padding: 40px;
  font-size: 30px;
  text-align: center;
}

input{
  width: 100%;
}