body {
  background: white;
  color: black;
}

select {
  display: flex;
}

button {
  width: 100px;
  height: 30px;
  z-index: 2;
  position: absolute;
}

h1{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: "Abril Fatface", serif;
  background-color: #D3EEFE;
}


.header-container {
  display: flex;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A0C1DE;
  font-family: "Merriweather", sans-serif;
  width: 25%;
  height: 10%;

}

label {
  float: left;
  width: 11em;
}



ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

p1{
  line-height: 45px;
  background-color: #A0C1DE;
  font-family: "Merriweather", sans-serif;
  width: 25%;
  height: 10%;
  color: black;
  float: right;
}


.form-container {
  background-color: #d3eaf5;
  color: black;
  margin: 10px;
  text-align: justify;
  line-height: 45px;
  width: 300px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  
}

.form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
}

.input-flex {
  max-width: 60px;
}

input,
textarea {
  border: 0;
  border-radius: 40px;
  padding: 15%;
  background-color: white;
  margin-right: 10%;
  margin-bottom: 10%;
  flex: 1 0 100%;
  font-family: "Merriweather", sans-serif;
}
