body {
  background: #264653;
  color:white;
  font-family: 'Roboto' , sans-serif;
}

.status_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #F4A261;
  border-radius: 20px;
  padding: 1rem;
  width: 30%;
  text-align: center;
  line-height: 0%;
}

.status > .status_name {
font-size: 6vw;
}

.status > .status_value {
  font-size: 6vw;
}

.status > .status_offset {
  font-size: 2vw;
}


.status > .status_goal {
  text-align: center;
  font-size: 3vw;
  width: 10%;
}


.food_entry_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  background: #2A9D8F;
  border-radius: 20px;
  padding: 1rem;
  margin-inline: 10%;

  font-size: 1.5vw;

}

/* DISABLE SPIN BUTTONS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}