body {
  background:black;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

/* https://github.com/mdn/learning-area/blob/main/html/tables/basic/minimal-table.css */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
}

button:hover {
  background-color: red;
}