body {
    font-family: Arial, serif;
    margin: 0 auto;
    max-width: 1000px;
    background-color: whitesmoke;
}
button {
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: darkred;
}

button:hover {
    background-color: crimson;
}

#submission-message {
    visibility: hidden;
}

h3 {
    text-align: center;
}

td {
    outline: thin solid grey;
    padding: 5px;
}

th {
    outline: thin solid grey;
    background-color: lightgray;
}
table {
    margin-left: auto;
    margin-right: auto;
}