* {
  font-family: "Ubuntu", sans-serif;
  font-family: "Exo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fcf5e5;
  background: #fcf5e5;
}

body {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

h1 {
  text-align: center;
  text-shadow: -4px 4px #ef3550, -8px 8px #43a047, -12px 12px #2196f3;
}

.todo_add {
  font-family: "Exo", sans-serif;
}

#fancy_text {
  font-family: "Josefin Sans", sans-serif;
}


div {
  background-color: black; 

}

hr {
  color: #fcf5e5;
  background-color: #fcf5e5;
}

table,
th,
td {
  border: 1px solid black;
  border-radius: 5px;
  color: #011526;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

