
body {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 100%;
}

#dataDiv {
  flex-grow: 1;
  padding: 3rem;
}

#inputDiv {
  width: 30%;
  height: 80vh;

  margin: 10vh 0;
  padding: 0 2.5%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
  padding: 1.5rem;
}

th, td {
  border: 1px solid;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.tableButton {
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.modifyTD {
  padding-left: 1px;
  padding-right: 1px;
}

td > input {
  width: 90%;
}

#inputForm {
  display: grid;
  margin: 10px;
  width: 80%;
}

#submitButton {
  margin-top: 10px;
}

label {
  margin-top: 5px;
}
