/*Element selectors used to define all text fonts and website colors. Some positioning included here.*/

a {
  display: inline;
  margin-right: 10px;
  font-family: "Courier New", Monospace;
  color: darkslateblue;
}

body {
  background: #FAE9E6;
  color: black;
}

h1 {
  font-family: "Arial Black", Sans-serif;
}

h2 {
  font-family: "Arial", Sans-serif;
}

label {
  font-family: "Georgia", serif;
}

input {
  font-family: "Georgia", serif;
}

button {
  font-family: "Georgia", Sans-serif;
}

p {
  font-family: "Palatino", Sans-serif;
}

li {
  font-family: "Palatino", Sans-serif;
}

footer {
  font-family: "Georgia", "serif";
}

/*Class selectors used to implement flexbox*/

.positionNavCenterXAndStartY {
  display: flex;
  align-items: start;
  justify-content: center;
}

.positionPageTitleCenterXAndStartY {
  display: flex;
  align-items: start;
  justify-content: center;
}

.setFormFieldColumnDirection {
  display: flex;
  flex-direction: column;
}

.positionFooterCenterXAndEndY {
  display: flex;
  align-items: end;
  justify-content: center;
}




