body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;;
}

.container {
  display: flex;
  height: 100vh;
}

.left-div {
  width: 200px;
  background-color: #212121;
  color: #D2D2D2;
  padding-top: 20px;
  padding-left: 20px;
}

.right-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-left: 50px;
}

.tasks-div {
  /*background-color: #C8C8C8;*/
  margin-right: 50px;
}

h1 {
  margin-bottom: 5px;
}










#task-table {
  margin-top: 25px;
  color: #D2D2D2;
  flex: 1;
  width: 100%;
}

td {
  padding: 0px 15px;
  border-radius: 5px;
  height: 50px;
  background-color: #333333;
  text-align: left;
}

.left-container {
  float: left; /* Align to the left */
  /*background-color: lightblue;*/
}

.right-container {
  float: right; /* Align to the right */
  /*background-color: lightblue;*/
}


/* Completion-Button */
.Completion-Button{
  height: 20px;
  width: 20px;
  margin-right: 15px;
  border-radius: 15px;
  border: 3px solid #D2D2D2;
  outline: none;
  background-color: #333333;
}

.Completion-Button:hover {
  background-color: #555555;
}

.Completion-Button:active {
  background-color: #D2D2D2;
}
/* Completion-Button */

/* MyDay-Button */
.MyDay-Button{
  height: 20px;
  width: 20px;
  border: 3px solid #D2D2D2;
  border-radius: 0px;
  transform:rotate(45deg) scale(0.707106781188);
  outline: none;
  /*background-color: #333333;*/
  background-color: #D2D2D2;
}

.MyDay-Button:hover {
  background-color: #555555;
}
/* MyDay-Button */







.create-task-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*background-color: lightblue;*/
  margin-right: 52px;
  margin-left: 2px;
}

input{
  margin-top: auto;
  margin-bottom: 50px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: #636363;
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 15px
}

input::placeholder {
  color: #D2D2D2;
}