*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
}

body {
  background:white;
  color:black;
font-size: 3rem;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


h1.vert-move {
  -webkit-animation: mover 1.0s infinite  alternate;
  animation: mover 0.8s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}

input{
width: 70%;
height: 80%;
font-size: 60%;
border: none;
  outline: none;
  border-bottom: 1px solid black;

}


button {
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
