/*Element selectors used to define all text fonts and website colors. Some dimensions and margins used here.*/

a {
  margin-right: 10px;
  font-family: "Courier New", Monospace;
  color: darkslateblue;
}

body {
  background: #FAE9E6;
  color: black;
}

main {
  min-height: 100vh; /*Sets the minimum height of the main tag (and the form container by association) to full height.*/
}

h1 {
  font-family: "Arial Black", Sans-serif;
}

h2 {
  font-family: "Arial", Sans-serif;
}

form {
  width: 1200px;
  height: 200px;
}

label {
  font-family: "Georgia", serif;
}

input {
  font-family: "Georgia", serif;
}

button {
  font-family: "Georgia", Sans-serif;
}

p { /* Ask about using flex for p tomorrow */
  font-family: "Palatino", Sans-serif;
}

li {
  font-family: "Palatino", Sans-serif;
}

footer {
  font-family: "Georgia", "serif";
  margin-top: auto; /*Since the footer is right below the main tag, the top margin of the footer will be automatically set so that the footer is located right below the form container's minimum height. This places the footer at the bottom fo each page*/
}

/*Class selectors used to implement flexbox*/

.positionNavCenterXAndStartY {
  display: flex;
  align-items: start;
  justify-content: center;
}

.positionPageTitleCenterXAndStartY {
  display: flex;
  align-items: start;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.setFormFieldColumnDirectionAndSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.positionFooterCenterXAndEndY {
  display: flex;
  align-items: end;
  justify-content: center;
}




