body {
  font-family: 'Dosis';
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-heading {
  font-family: 'Dosis';
  font-size: 50px;
  font-weight: bold;
  color: #bbe4e9;
  background: #5585b5;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.my-form {
  font-family: 'Dosis';
  width: 100%;
  display: flex;
}

.my-label {
  font-size: 20px;
  font-weight: bold;
}

.my-input {
  padding: 6px;
  width: 100%;
  border: 1px solid #53a8b6;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.my-button {
  font-family: 'Dosis';
  font-size: 20px;
  padding: 10px 20px;
  background-color: #53a8b6;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.my-button:hover {
  background-color: #bbe4e9;
}

.my-deletebutton {
  font-family: 'Dosis';
  font-size: 15px;
  padding: 5px 10px;
  color: black;
  background-color: #dc2f2f;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.my-deletebutton:hover {
  color: white;
  background-color: #f95959;
}

.my-table {
  font-family: 'Dosis';
  width: 100%;
  border-collapse: collapse;
}

.my-table th, .my-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.my-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.my-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.my-table tr:hover {
  background-color: #f2f2f2;
}
