* {
  box-sizing: border-box;
}

#timelineSubmission {
  width: 100%;
  text-align: left;
  color:white
}

#timelineErrorMessage {
  color: red;
  display: none;

}

/* The actual timeline */
.timeline {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: auto;
}

/* the vertical ruler */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}



/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
